In [26]:
# Importacion de las librerias necesarias 
#Vamos a importar las librerías que serán necesarias
import pandas as pd
import numpy as np
import networkx as nx 
import matplotlib.pyplot as plt
import operator
import itertools
import datetime

from scipy.optimize import curve_fit

In [2]:
#Vamos a importar el archicho de un año
df_2021=pd.read_table('BACI_HS02_Y2021_V202301.csv',sep=',',encoding='utf-8') #leer la matriz

In [3]:
df_2021

             t    i    j       k        v              q
0         2021    4   24  382490   52.531         13.235
1         2021    4   24  392410    0.266          1.854
2         2021    4   24  481890    0.041          0.022
3         2021    4   24  570232    0.201          1.854
4         2021    4   24  690790    3.424          1.854
...        ...  ...  ...     ...      ...            ...
10964772  2021  894  858  240120  206.588         39.600
10964773  2021  894  858  842123    1.002          0.040
10964774  2021  894  858  842139    1.103          0.044
10964775  2021  894  858  870810    0.087          0.003
10964776  2021  894  858  870829    0.949          0.036

[10964777 rows x 6 columns]

List of Variables : t: year i: exporter j: importer k: product v: value q: quantity

In [8]:
#Vamos a leer todas las matrices
df_2020=pd.read_table('BACI_HS02_Y2020_V202301.csv',sep=',',encoding='utf-8')
df_2019=pd.read_table('BACI_HS02_Y2019_V202301.csv',sep=',',encoding='utf-8')
df_2018=pd.read_table('BACI_HS02_Y2018_V202301.csv',sep=',',encoding='utf-8')
df_2017=pd.read_table('BACI_HS02_Y2017_V202301.csv',sep=',',encoding='utf-8')
df_2016=pd.read_table('BACI_HS02_Y2016_V202301.csv',sep=',',encoding='utf-8')
df_2015=pd.read_table('BACI_HS02_Y2015_V202301.csv',sep=',',encoding='utf-8')
df_2014=pd.read_table('BACI_HS02_Y2014_V202301.csv',sep=',',encoding='utf-8')
df_2013=pd.read_table('BACI_HS02_Y2013_V202301.csv',sep=',',encoding='utf-8')
df_2012=pd.read_table('BACI_HS02_Y2012_V202301.csv',sep=',',encoding='utf-8')
df_2011=pd.read_table('BACI_HS02_Y2011_V202301.csv',sep=',',encoding='utf-8')
df_2010=pd.read_table('BACI_HS02_Y2010_V202301.csv',sep=',',encoding='utf-8')
df_2009=pd.read_table('BACI_HS02_Y2009_V202301.csv',sep=',',encoding='utf-8')
df_2008=pd.read_table('BACI_HS02_Y2008_V202301.csv',sep=',',encoding='utf-8')
df_2007=pd.read_table('BACI_HS02_Y2007_V202301.csv',sep=',',encoding='utf-8')
df_2006=pd.read_table('BACI_HS02_Y2006_V202301.csv',sep=',',encoding='utf-8')
df_2005=pd.read_table('BACI_HS02_Y2005_V202301.csv',sep=',',encoding='utf-8')
df_2004=pd.read_table('BACI_HS02_Y2004_V202301.csv',sep=',',encoding='utf-8')
df_2003=pd.read_table('BACI_HS02_Y2003_V202301.csv',sep=',',encoding='utf-8')
df_2002=pd.read_table('BACI_HS02_Y2002_V202301.csv',sep=',',encoding='utf-8')

In [9]:
df_lista= df_lista=[ df_2002, df_2003, df_2004, df_2005, df_2006, df_2007, df_2008, df_2009, df_2010, df_2011, df_2012, df_2013, df_2014, df_2015, df_2016, df_2017, df_2018, df_2019, df_2020, df_2021]

In [10]:
Nombres_columnas= {
    "t": "Year", 	
    "k": "Product category" ,	#(HS 6-digit code)
    "i": "Exporter",            #(ISO 3-digit country code)
    "j": "Importer",            #(ISO 3-digit country code)
    "v": "Value",                #of the trade flow (in thousands current USD)
    "q": "Quantity"             #(in metric tons)
}

In [11]:
dataframes_list = df_lista
new_col_names= ["Year", "Exporter", "Importer",  "Product category" ,"Value", "Quantity"]

In [12]:
 for df in dataframes_list:
        # Crea un diccionario para los primeros 6 nombres de columna existentes y los nuevos nombres de columna
        rename_dict = {col: new_col_names[i] if i < 6 else col for i, col in enumerate(df.columns)}
        # Cambia los nombres de las columnas del DataFrame utilizando el diccionario
        df.rename(columns=rename_dict, inplace=True)

In [33]:
for df in df_lista:
    print(df)

         Year  Exporter  Importer  Product category  Value       Quantity
0        2002         4        12             20230   2270        872.973
1        2002         4        12             80232      4          6.560
2        2002         4        12            121110      0          3.706
3        2002         4        12            121190      2          9.400
4        2002         4        12            130212      1          3.910
...       ...       ...       ...               ...    ...            ...
6640457  2002       894       842            970300    155          6.773
6640458  2002       894       842            970600      0          0.200
6640459  2002       894       891             10690      0          0.036
6640460  2002       894       891            100510      0          0.784
6640461  2002       894       891            630900      0          0.130

[6640462 rows x 6 columns]
         Year  Exporter  Importer  Product category  Value       Quantity
0        2003         4        12             80232      4          1.000
1        2003         4        12            121110      1          3.700
2        2003         4        12            401693      0          0.001
3        2003         4        12            820420      0          0.001
4        2003         4        12            841490      2          0.022
...       ...       ...       ...               ...    ...            ...
7304473  2003       894       842            970190     15          0.464
7304474  2003       894       842            970300      5          3.232
7304475  2003       894       842            970400      3             NA
7304476  2003       894       842            970500      1          0.663
7304477  2003       894       891            491199      0          0.016

[7304478 rows x 6 columns]
         Year  Exporter  Importer  Product category  Value       Quantity
0        2004         4        12             90930      7         24.310
1        2004         4        12            121110      1          2.700
2        2004         4        12            121190      1          1.500
3        2004         4        12            382200      0          0.018
4        2004         4        12            847490      0          0.023
...       ...       ...       ...               ...    ...            ...
7984645  2004       894       842            970200      0          0.039
7984646  2004       894       842            970300     31          4.401
7984647  2004       894       842            970500    110         42.519
7984648  2004       894       858            842123      0          0.002
7984649  2004       894       891            490199      0          0.152

[7984650 rows x 6 columns]
         Year  Exporter  Importer  Product category  Value       Quantity
0        2005         4        12             80212      2          2.800
1        2005         4        12             90930     15         32.450
2        2005         4        12            140410      0          1.250
3        2005         4        12            382200      0          0.001
4        2005         4        12            840999     27          0.382
...       ...       ...       ...               ...    ...            ...
8477741  2005       894       842            970110      4          0.008
8477742  2005       894       842            970190      0          0.101
8477743  2005       894       842            970300     11          2.384
8477744  2005       894       842            970500     40         62.611
8477745  2005       894       891            630900      0          0.204

[8477746 rows x 6 columns]
         Year  Exporter  Importer  Product category  Value       Quantity
0        2006         4        12             91099      1          2.080
1        2006         4        12            121110      1          3.100
2        2006         4        12            130190      0          0.125
3        2006         4        12            903020      8          0.037
4        2006         4        20            570239      6          0.142
...       ...       ...       ...               ...    ...            ...
8926983  2006       894       842            970110      2          0.008
8926984  2006       894       842            970190      2          0.060
8926985  2006       894       842            970300      3          1.944
8926986  2006       894       842            970500    324         23.016
8926987  2006       894       887            843149      1          0.060

[8926988 rows x 6 columns]
         Year  Exporter  Importer  Product category  Value       Quantity
0        2007         4        12             71490      1          5.000
1        2007         4        12             80620     40         59.350
2        2007         4        12             90930     26         63.925
3        2007         4        12             91099      1          1.300
4        2007         4        12            121190      2         10.050
...       ...       ...       ...               ...    ...            ...
9178332  2007       894       842            970600     16             NA
9178333  2007       894       854            710399      0          0.004
9178334  2007       894       862            847130      1          0.007
9178335  2007       894       862            847160      0          0.001
9178336  2007       894       862            852439      0          0.001

[9178337 rows x 6 columns]
         Year  Exporter  Importer  Product category  Value       Quantity
0        2008         4         8            970110      0          0.216
1        2008         4        12             60390      0          0.300
2        2008         4        12             71490      1          2.900
3        2008         4        12             80232      2          2.000
4        2008         4        12             90930     35        108.535
...       ...       ...       ...               ...    ...            ...
9395702  2008       894       842            970190      2          0.078
9395703  2008       894       842            970300      4          4.545
9395704  2008       894       842            970500     33         20.584
9395705  2008       894       862            848490     32          0.837
9395706  2008       894       887            220290     19         40.000

[9395707 rows x 6 columns]
         Year  Exporter  Importer  Product category  Value       Quantity
0        2009         4         8            570500      1          0.045
1        2009         4        12             80620      1          1.910
2        2009         4        12             81350      0          0.500
3        2009         4        12            121190      6         10.250
4        2009         4        12            491199      0          0.030
...       ...       ...       ...               ...    ...            ...
9327137  2009       894       842            970110      6          1.010
9327138  2009       894       842            970300      3          0.231
9327139  2009       894       842            970500     49         16.860
9327140  2009       894       842            970600      7             NA
9327141  2009       894       862            390190      2          2.500

[9327142 rows x 6 columns]
         Year  Exporter  Importer  Product category  Value       Quantity
0        2010         4         8            610690      0          0.003
1        2010         4         8            621590      0          0.005
2        2010         4         8            630900      0          0.017
3        2010         4         8            851999      0          0.001
4        2010         4         8            852812      0          0.014
...       ...       ...       ...               ...    ...            ...
9647511  2010       894       842            970110      5          0.204
9647512  2010       894       842            970300      8          1.093
9647513  2010       894       842            970500    555         16.719
9647514  2010       894       854            401699      1          0.032
9647515  2010       894       858            940490      0          0.005

[9647516 rows x 6 columns]
         Year  Exporter  Importer  Product category  Value       Quantity
0        2011         4        12            392049      0          0.001
1        2011         4        12            401490      0          0.005
2        2011         4        12            840999      0          0.001
3        2011         4        12            870893      0          0.001
4        2011         4        24            190520      0          0.010
...       ...       ...       ...               ...    ...            ...
9847291  2011       894       854            850110      0          0.355
9847292  2011       894       854            850152      8          0.355
9847293  2011       894       854            860900      2          2.000
9847294  2011       894       854            901580      0          0.010
9847295  2011       894       858            843390      0          0.038

[9847296 rows x 6 columns]
          Year  Exporter  Importer  Product category  Value       Quantity
0         2012         4         8            610469      2          0.044
1         2012         4         8            630900      0          0.082
2         2012         4        12             91099      1          1.200
3         2012         4        24             80111     40          4.670
4         2012         4        24             90412      1          0.149
...        ...       ...       ...               ...    ...            ...
10143724  2012       894       862            847160      0          0.077
10143725  2012       894       862            871200      0          0.072
10143726  2012       894       862            940360      0          0.108
10143727  2012       894       862            950510      0          0.077
10143728  2012       894       862            970190      0          0.081

[10143729 rows x 6 columns]
          Year  Exporter  Importer  Product category  Value       Quantity
0         2013         4         8            401519      2          0.342
1         2013         4         8            630900      1          0.023
2         2013         4        12            611020      0          0.005
3         2013         4        20             40610      1          0.342
4         2013         4        20            570242      2          0.008
...        ...       ...       ...               ...    ...            ...
10361715  2013       894       842            970600    111             NA
10361716  2013       894       854            870510    733         34.000
10361717  2013       894       854            970300      0          0.010
10361718  2013       894       858            848180      0             NA
10361719  2013       894       862            630900      0          0.170

[10361720 rows x 6 columns]
          Year  Exporter  Importer  Product category  Value       Quantity
0         2014         4        12             80620     29         12.456
1         2014         4        12             91099      0          0.156
2         2014         4        12            330210      1          0.100
3         2014         4        12            701339      8          3.705
4         2014         4        12            732399      7          1.184
...        ...       ...       ...               ...    ...            ...
10385566  2014       894       854            843143      1          0.009
10385567  2014       894       854            852692      9          0.009
10385568  2014       894       854            940360      6          3.220
10385569  2014       894       887            240110    530         79.200
10385570  2014       894       887            240120    530         79.200

[10385571 rows x 6 columns]
          Year  Exporter  Importer  Product category  Value       Quantity
0         2015         4        12            121190      1          0.850
1         2015         4        20            280430      0          0.053
2         2015         4        20            491000      0          0.001
3         2015         4        20            640319      1          0.041
4         2015         4        24            210690      0          0.009
...        ...       ...       ...               ...    ...            ...
10750712  2015       894       854             10690      0          0.176
10750713  2015       894       854            490199      4          1.003
10750714  2015       894       854            620690      1          0.922
10750715  2015       894       854            630900      0          1.084
10750716  2015       894       858            240120    221         39.600

[10750717 rows x 6 columns]
          Year  Exporter  Importer  Product category  Value       Quantity
0         2016         4        12             80132     26          3.000
1         2016         4        12            130190      1          0.585
2         2016         4        12            370239      1          0.003
3         2016         4        12            842123      0          0.036
4         2016         4        12            848120      0          0.022
...        ...       ...       ...               ...    ...            ...
10748521  2016       894       842            970110     53          1.831
10748522  2016       894       842            970500    185          5.411
10748523  2016       894       842            970600     45          0.040
10748524  2016       894       854            940360     42          2.358
10748525  2016       894       858            848410      0             NA

[10748526 rows x 6 columns]
          Year  Exporter  Importer  Product category  Value       Quantity
0         2017         4        12            130120      5          1.400
1         2017         4        12            130190      5          2.320
2         2017         4        12            401031      0          0.002
3         2017         4        12            853890      0          0.019
4         2017         4        24            220720      0          0.012
...        ...       ...       ...               ...    ...            ...
11005609  2017       894       860             60310      0          0.010
11005610  2017       894       860             60390      0          0.001
11005611  2017       894       862            440799      8         63.003
11005612  2017       894       876            392350      1          0.310
11005613  2017       894       876            481159    263        165.166

[11005614 rows x 6 columns]
          Year  Exporter  Importer  Product category  Value       Quantity
0         2018         4        24            845420    115         26.000
1         2018         4        24            848180      2          0.007
2         2018         4        31             80211      0          0.042
3         2018         4        31             80212      1          0.196
4         2018         4        31             80620      0          0.042
...        ...       ...       ...               ...    ...            ...
11086734  2018       894       842            970500    510         13.479
11086735  2018       894       854            100510      3          0.412
11086736  2018       894       858            240120    125         19.800
11086737  2018       894       858            844390      0             NA
11086738  2018       894       860             90230      0          0.006

[11086739 rows x 6 columns]
          Year  Exporter  Importer  Product category  Value       Quantity
0         2019         4        24            481940      1          1.000
1         2019         4        24            847141      1          0.022
2         2019         4        28            620462      0          0.012
3         2019         4        31             70310      6         22.002
4         2019         4        31             80211      2          0.203
...        ...       ...       ...               ...    ...            ...
11135381  2019       894       854            722830     23          1.218
11135382  2019       894       854            722880     20          2.887
11135383  2019       894       854            820719     17          1.348
11135384  2019       894       858            240120    316         59.400
11135385  2019       894       858            482390      0             NA

[11135386 rows x 6 columns]
          Year  Exporter  Importer  Product category  Value       Quantity
0         2020         4        24            300431      0          0.001
1         2020         4        24            840999      1          0.007
2         2020         4        31            251512     27        169.800
3         2020         4        32            391000      0          0.009
4         2020         4        32            401031      0             NA
...        ...       ...       ...               ...    ...            ...
10742776  2020       894       858            854430      0          0.003
10742777  2020       894       858            870829      1          0.045
10742778  2020       894       858            870840      0          0.001
10742779  2020       894       858            870893      0          0.016
10742780  2020       894       858            870899      0          0.009

[10742781 rows x 6 columns]
          Year  Exporter  Importer  Product category  Value       Quantity
0         2021         4        24            382490     52         13.235
1         2021         4        24            392410      0          1.854
2         2021         4        24            481890      0          0.022
3         2021         4        24            570232      0          1.854
4         2021         4        24            690790      3          1.854
...        ...       ...       ...               ...    ...            ...
10964772  2021       894       858            240120    206         39.600
10964773  2021       894       858            842123      1          0.040
10964774  2021       894       858            842139      1          0.044
10964775  2021       894       858            870810      0          0.003
10964776  2021       894       858            870829      0          0.036

[10964777 rows x 6 columns]

In [38]:
 for df in df_lista_V:
        print(df.columns)

Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')

In [28]:
def sumar_pesos(lista_de_dataframes):
    # Inicializa un DataFrame vacío para almacenar los resultados
    df_total_pesos = pd.DataFrame()

    # Itera sobre la lista de DataFrames y aplica la función de agregación
    for df in lista_de_dataframes:
        # Agrupa los datos por país de origen y país de destino y suma los pesos
        df_i_total_pesos = df.groupby(['Exporter', 'Importer'])['Value'].sum().reset_index()
        print(df)

        # Agrega el resultado al DataFrame vacío
        df_total_pesos = pd.concat([df_total_pesos, df_i_total_pesos], ignore_index=True)

    # Devuelve el resultado
    return df_total_pesos

In [35]:
def convertir_a_enteros(df, columna):
    df[columna] = df[columna].astype(int)
    return df

In [36]:
df_lista_V= [convertir_a_enteros(df,"Value") for df in df_lista]
print(df_lista_V[3]["Value"].dtype)

int32

In [29]:
suma_totales=[sumar_pesos(i) for i in df_lista_V]

AttributeError: 'str' object has no attribute 'groupby'

In [37]:
def sumar_pesos(lista_de_dataframes):
    # Inicializa un DataFrame vacío para almacenar los resultados
    df_total_pesos = pd.DataFrame()

    # Itera sobre la lista de DataFrames y aplica la función de agregación
    for df in lista_de_dataframes:
        print(df.columns)  # Imprime los nombres de las columnas en cada dataframe
        # Agrupa los datos por país de origen y país de destino y suma los pesos
        df_i_total_pesos = df.groupby(['Exporter', 'Importer'])['Value'].sum().reset_index()

        # Agrega el resultado al DataFrame vacío
        df_total_pesos = pd.concat([df_total_pesos, df_i_total_pesos], ignore_index=True)

    # Devuelve el resultado
    return df_total_pesos

suma_totales=[sumar_pesos(i) for i in df_lista_V]

AttributeError: 'str' object has no attribute 'columns'

In [39]:
 for df in df_lista_V:
        print(df.columns)

Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')
Index(['Year', 'Exporter', 'Importer', 'Product category', 'Value',
       'Quantity'],
      dtype='object')

In [44]:
 for cosito in df_lista_V:
        print(type(cosito))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [46]:
print(len(df_lista_V))

20

In [50]:
def sumar_pesos(lista_de_dataframes):
    # Inicializa un DataFrame vacío para almacenar los resultados
    df_total_pesos = pd.DataFrame()

    # Itera sobre la lista de DataFrames y aplica la función de agregación
    for df in lista_de_dataframes:
        # Verifica si la columna "Value" es numérica
        if pd.api.types.is_numeric_dtype(df['Value']):
            # Convierte la columna "Value" a tipo numérico (int o float)
            df['Value'] = pd.to_numeric(df['Value'])
            # Agrupa los datos por país de origen y país de destino y suma los pesos
            df_i_total_pesos = df.groupby(['Exporter', 'Importer'])['Value'].sum().reset_index()

            # Agrega el resultado al DataFrame vacío
            df_total_pesos = pd.concat([df_total_pesos, df_i_total_pesos], ignore_index=True)
        else:
            print("Advertencia: La columna 'Value' no es numérica en el siguiente DataFrame:")
            print(df)

    # Devuelve el resultado
    return df_total_pesos

In [51]:
pesos= [sumar_pesos(df) for df in df_lista_V]

TypeError: string indices must be integers

In [53]:
df_lista_V[10]

          Year  Exporter  Importer  Product category  Value       Quantity
0         2012         4         8            610469      2          0.044
1         2012         4         8            630900      0          0.082
2         2012         4        12             91099      1          1.200
3         2012         4        24             80111     40          4.670
4         2012         4        24             90412      1          0.149
...        ...       ...       ...               ...    ...            ...
10143724  2012       894       862            847160      0          0.077
10143725  2012       894       862            871200      0          0.072
10143726  2012       894       862            940360      0          0.108
10143727  2012       894       862            950510      0          0.077
10143728  2012       894       862            970190      0          0.081

[10143729 rows x 6 columns]

In [54]:
for df in df_lista_V:
    if not pd.api.types.is_numeric_dtype(df['Value']):
        print("La columna 'Value' del DataFrame {} no es numérica".format(df))